/**
 * Base16 retro-city ROFI Color theme
 *
 * Authors
 *  Scheme: Beats
 *  Template: Jordi Pakey-Rodriguez (https://github.com/0xdec), Andrea Scarpino (https://github.com/ilpianista)
 */

* {
    base07: #eae2e8;
    base0C: #557ba3;
    base0E: #477f98;
    base0F: #034F72;
}

* {
    main-bg: @base0F;
    main-fg: @base07;
    main-br: @base0E;
    input-bg: @base0C;
    select-bg: @base0E;
    select-fg: @base0F;
}
